<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  @if(!carregando){
      <ion-card>
        <ion-card-title style="text-align: center;">{{ lista_tarefas.titulo }}</ion-card-title>
      </ion-card>

    <ion-list>
      @for(tarefa of tarefas; track $index){
        
        <ion-card class="card-tarefa"><div class="textos"><ion-card-subtitle id="titulo-tarefa">{{ tarefa.nome }} ({{ tarefa.prioridade }})</ion-card-subtitle><br><br>
          <ion-card-subtitle id="status">{{ tarefa.status }}</ion-card-subtitle></div>
          <ion-button fill="outline" (click)="concluirTarefa($index)"><ion-icon name="checkmark-outline" ></ion-icon></ion-button>
        </ion-card>
      }
    </ion-list>
  }
</ion-content>
