<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listagem de usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-select [(ngModel)]="opcao" label="Filtrar por:">
  <ion-select-option value="nome">Nome de usuario</ion-select-option>
  <ion-select-option value="id">Id</ion-select-option>
  </ion-select>

  <ion-item>
  <ion-searchbar *ngIf="opcao == 'nome'" animated="true" placeholder="Nome de usuário" [debounce]="1000" (ionInput)="procurarPeloNome($event)"></ion-searchbar>
  <ion-input type="number" *ngIf="opcao == 'id'" animated="true" placeholder="Id" [debounce]="500"  (ionInput)="procurarPeloId($event)"></ion-input>
  </ion-item>

  @for (usuario of usuarios; track usuario.id; let idx = $index) {
  <ion-card>
  <ion-card-header>
    <ion-card-title><b>{{ usuario.nome_de_usuario }}</b></ion-card-title>
    <ion-card-subtitle><b>ID:</b> {{ usuario.id }}</ion-card-subtitle>
    <ion-card-subtitle><b>Nome:</b> {{ usuario.nome }}</ion-card-subtitle>
    <ion-card-subtitle><b>Aniversário:</b> {{ usuario.data_nascimento }}</ion-card-subtitle>
    <ion-card-subtitle><b>E-mail:</b> {{ usuario.email }}</ion-card-subtitle>
    <ion-card-subtitle><b>Senha:</b> {{ usuario.senha }}</ion-card-subtitle>
  </ion-card-header>
  
  <ion-button color="danger" (click)="excluir(usuario.id)"><ion-icon name="trash-outline"></ion-icon></ion-button>
  <ion-button (click)="alterar(idx)"><ion-icon name="create-outline"></ion-icon></ion-button>
</ion-card>
}
</ion-content>
